header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.085);
    top: 0;
    z-index: 10000;
    background-color: white;
}
header h1 {
    font-size: 60px;
    font-family: sans-serif;
    margin: 10px 0px 10px 30px;
    cursor: pointer;
}
header span {
    font-size: 20px;
    font-family: sans-serif;
    padding-right: 30px;
}

@media (max-width: 530px) {
    header {
        flex-direction: column;
    }
    header h1 {
        margin: 10px 0px;
    }
    header span {
        padding: 10px;
    }
}