* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
app-table {
    width: 100%;
    min-height: 685px;
}
app-todo-lists {
    width: 100%;
}
@media (max-width: 530px) {
    app-navigation {
        position: fixed;
        z-index: 100;
        justify-content: center;
        width: 100%;
    }
}